/* сброс дефолтного стиля браузера */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* определение css-переменных */

:root {
  --brand-color: #2196f3;
  --bgn-color: #ffffff;
  --second-bgn-color: #f5f4fa;
  --third-bgn-color: #2f303a;
  --font-color: #212121;
  --font-primary: "Roboto", sans-serif;
}

/* глобальный стиль страницы */

body {
  background-color: var(--bgn-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-style: normal;
}

/* логотип */

.logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-color {
  color: var(--brand-color);
}

.logo-white {
  color: #ffffff;
}

/* меню навигации */

.nav-items a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17em;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}

/* меню контактов */

.contacts a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17em;
  text-decoration: none;
}

.contact-item a:hover,
.contact-item a:focus {
  color: var(--brand-color);
}

/* стиль секции hero 
(высота меньше, чем в макете, для удобства просмотра) */

.hero {
  display: block;
  background-color: var(--third-bgn-color);
  width: 1600px;
  height: 300px;
}

.hero-headline {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  text-align: center;
}

.button:hover,
.button:focus {
  color: #188ce8;
}

/* стиль секции features */

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

/* стиль секции skills */

.skills-title {
  font-size: 36px;
  line-height: 1.17px;
}
