/* сброс дефолтного стиля браузера */

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* определение css-переменных */

:root {
  --brand-color: #2196f3;
  --bgn-color: #ffffff;
  --second-back-color: #f5f4fa;
  --third-back-color: #2f303a;
  --font-color: #212121;
  --font-primary: "Roboto", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-style: normal;
}
