/* сброс дефолтного стиля браузера */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* определение css-переменных */

:root {
  --brand-color: #2196f3;
  --bgn-color: #ffffff;
  --second-bgn-color: #f5f4fa;
  --third-bgn-color: #2f303a;
  --font-color: #212121;
  --font-primary: "Roboto", sans-serif;
}

/* глобальный стиль страницы */

body {
  background-color: var(--bgn-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-style: normal;
}

/* логотип */

.logo {
  color: #000000;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-color {
  color: var(--brand-color);
}

.logo-white {
  color: #ffffff;
}

/* меню навигации */

.nav-items a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17em;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}
